RewriteEngine on
RewriteCond $1 !^(index\.php|assets|robots\.txt)
RewriteRule ^(.*)$ index.php/$1 [L]

#Options Indexes
AuthType Basic
AuthName "Restricted Area"
AuthUserFile /var/www/html/demos.infovillage.net/htdocs/emailCampaign/.htpasswd
Require valid-user

